.about-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.img-box-about {
  width: 40%;
  display: flex;
  justify-content: center;
}

.img-box-about img{
  width: 60%;
}

.text-box-about {
  width: 40%;
}

.text-box-about h1 {
  text-align: center;
  margin-top: 50px;
}
.text-box-about p {
  margin: 10px 50px;
}