.aboutContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.imgBoxAbout {
  width: 40%;
  display: flex;
  justify-content: center;
}

.imgBoxAbout img{
  width: 60%;
}

.textBoxAbout {
  width: 40%;
}

.textBoxAbout h1 {
  text-align: center;
  margin-top: 50px;
}
.textBoxAbout p {
  margin: 10px 50px;
}