/* CAAMBIAR TODO CON GRID */
.contactContainer{
  display: flex;
  justify-content: center;
}
form {
  background-color: #5C5858;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  width: 400px;
  padding: 30px;
  margin: 30px;
  border-radius: 20px;
}
input {
  width: 100%;
  height: 30px;
  padding: 7px;
  outline: none;
  border-radius: 20px;
  border: 1px solid rgb(220, 220, 220);
  margin:5px 10px;
}
.email{
  width: 94%;
  margin-top: 15px;
}
textarea {
  width: 97%;
  margin-top: 15px;
  max-height: 100px;
  min-height: 100px;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
}

input[type="submit"] {
  width: 100px;
  margin: 15px auto  ;
  cursor: pointer;
  background: rgb(240, 235, 231);
  color: rgb(75, 67, 67);
  border: none;
}

.nameGroup{
  width: 100%;
  display: flex;
  justify-content: space-between;
}