.homeContainer{
  display: grid;
  height: 90vh;
  grid-template-columns: auto 62%;
  background-color: #ABA59C ;
}

.boxRight{
  height: 90vh;
}
.quote{
  width: 90%;
  padding: 20px;
  font-size: 34px;
  color: #fff;
  position: relative;
  top: 8rem;
  left: 6rem;
  text-shadow: 2px 2px 4px #000000;
}

.boxLeft img{
  height: 90vh;
}

@media (max-width: 375px) { 
  .homeContainer{
    max-width: 375px;
    max-height: 79vh;
    display: flex;
    flex-direction: column-reverse;
  }

  .boxRight{
    width: 100%;
  }
  .quote{
    width: 75%;
    margin-top: 60px;
    padding: 10px;
    font-size: 28px;
    color: #fff;
    position: static;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .boxLeft img{
    width: 100%;
    height: 37vh;
  }

}

@media (max-width: 734x){
  .eventsBoxContainer{
    height: auto;
    width: 80%;
    margin: 10px auto;
    border: none;
  }
  .linksContainer a{
    margin-top: 10px;
  }
}