.boxNews{
  height: 75vh;
  border: 1px solid rgba(0, 0, 0, 0.237);
  margin-bottom: 20px;
  display: grid;
  grid-template-rows:  50% 50%;
}
.imgBox{
  width: 100%;
}
.imgBox img{
  width: 75%;
  margin: 10px;
  
}
.textNews{ 
  border: 1px solid rgba(0, 0, 0, 0.237);
}
.textNews p{ 
  padding: 0px 40px;
}