h1{
  text-align: center;
  font-size: 2rem;
  color: #1e1e1e;
}
.news-container{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-around;
}

@media (max-width: 375px){
  .news-container{
    max-width: 375px;
    display: flex;
    flex-direction: column;
  }
}