.titleEvents{
  font-size: 2rem;
  padding: 0;
  margin:10px 0px 0px 0px;
  color: #1e1e1e;
}

.eventsContainer{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
} 

@media (max-width: 375px){
  .eventsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 
}